/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
    padding-left: 100px;
    padding-right: 100px;
}

header{}



.nav-top{
    display: flex;
    justify-content: space-between; 
}

nav a {
   padding: 30px;
    
}


 
.top-content{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}

.Innovation{
    font-size: 60px ;
    width: 50%;
    height: 60%;
    padding: 10% 0 10% 10%;
}

button{
width: 150px;
height: 40px;

}


h1 {}



.mid-top{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Features {
    width: 50%;

}

.About{
    width: 50%;
}

.middle-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mid-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px ;
}
 
.Services{
    padding-right: 15px;
}

.Product{
    padding-right: 15px;
}

.Vision{
    padding-right: 15px;
}


footer{
    margin-top: 20px;

}

.Copy-right{
 margin-left: 40%;
}


.addy{
    padding-bottom: 10px;
}

.number{
    padding-bottom: 10px;
}



@media( max-width: 800px){

.container{
    width: 800px;
    height: 1370px;
    margin: 0 auto;
}

.img-left{
    display: none;
}



.nav-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    margin:0% 40% 0 40%;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    
     }



}


@media(  max-width: 500px){

    .container{
        width: 500px;
        height: 2047px;
        margin: 0 auto;
    }

    .nav-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        margin:0% 40% 0 40%;
    }


    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
        
         }


         .mid-top{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .Features {
            width: 100%;
        
        }

        .About{
            width: 100%;
            padding-top:10px;
        }

        .mid-bottom{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .Services{
            padding-right: 15px;
        }
        
        .Product{
            padding-top: 15px;
            padding-right: 15px;
        }
        
        .Vision{
            padding-top: 15px;
            padding-right: 15px;
        }

        .Copy-right{
            margin-left: 40%;
            padding-top:40px ;
           }
}